name: Deploy Helm Chart
permissions: read-all

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  helm_deploy:
      name: Deploy helm chart
      environment: ${{ inputs.environment }}
      runs-on: ubuntu-latest
      steps:
      - name: Check out the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Install SSH key
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_ed25519 # optional
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          if_key_exists: fail # replace / ignore / fail; optional (defaults to fail)

      - name: Setup NYC Mesh VPN
        uses: nycmeshnet/nycmesh-vpn-action@main
        with:
          config-name: "ghmap"
          private-key: ${{ secrets.WIREGUARD_PRIVATE_KEY }}

      - name: Install Helm Chart
        run: |
          scp ${{ secrets.SSH_USER }}@${{ secrets.SSH_TARGET_IP }}:~/.kube/config ./
          helm upgrade \
            website-map \
            website-map \
            --install \
            --kubeconfig ./config \
            --kube-apiserver https://${{ secrets.SSH_TARGET_IP }}:6443 \
            -n ${{ vars.APP_NAMESPACE }} \
            --create-namespace \
            -f ./website-map/values.yaml \
            --set app_namespace="${{ vars.APP_NAMESPACE }}" \
            --set fqdn="${{ vars.FQDN }}" \
            --set imageCredentials.username="${{ secrets.PULL_SECRET_USERNAME }}" \
            --set imageCredentials.password="${{ secrets.PULL_SECRET_PASSWORD }}" \
            --set imageCredentials.email="${{ secrets.PULL_SECRET_EMAIL }}" \
            --set github_client_id="${{ secrets.GH_CLIENT_ID }}" \
            --set github_install_id="${{ secrets.GH_INSTALL_ID }}" \
            --set github_secret="${{ secrets.GH_APP_KEY }}"
